/* https://github.com/corenzan/resetize 22 */

* {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:focus {
  outline: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: transparent;
  box-sizing: border-box;
  cursor: default;
  font-size: 16px;
  word-break: break-word;
}

body {
  background-color: white;
  font: 1em/1.5 sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ol,
ul {
  list-style: none;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: .875em;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(: root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

::-moz-focus-inner {
  border-style: none;
}

fieldset {
  border: 0;
}

input {
  overflow: visible;
}

legend {
  display: block;
  color: inherit;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, .5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

:-moz-placeholder {
  color: rgba(0, 0, 0, .5);
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}

summary {
  display: list-item;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled],
[disabled] {
  cursor: disabled;
}

[aria-hidden="false"][hidden]:not(: focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

main,
details {
  display: block;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

::-moz-selection,
::selection {
  background-color: gray;
  color: white;
  text-shadow: none;
}

audio,
video,
canvas {
  display: inline-block;
}

dialog:not([open]),
template,
[hidden] {
  display: none;
}
