/*! resetize.css v$npm_package_version
 *! The MIT License © 2014 Arthur Corenzan
 *! https://github.com/corenzan/resetize
 */

@import "sanitize.css";

/*
 * Use the default user interface font in all browsers (opinionated).
 */

html {
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ "Segoe UI", /* Android 4+ */ "Roboto",
    /* Ubuntu 10.10+ */ "Ubuntu", /* Gnome 3+ */ "Cantarell",
    /* KDE Plasma 5+ */ "Noto Sans", /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}

/*
 * Use the default monospace user interface font in all browsers (opinionated).
 */

code,
kbd,
samp,
pre {
  font-family:
    /* macOS 10.10+ */ "Menlo", /* Windows 6+ */ "Consolas",
    /* Android 4+ */ "Roboto Mono", /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono", /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono", /* fallback */ monospace,
    /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}

/*
 * Restrict sizing to the page width in all browsers (opinionated).
 */

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

/*
 * Reset font-size, padding and margin on everything.
 */

* {
  font-size: 1em; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 2 */
}

/*
 * Show the horizontal ruler as a 1px line of currentColor.
 */

hr {
  border: 0;
  border-top: 1px solid currentColor;
  color: inherit; /* Fix for Firefox */
}

/*
 * Drop all list bullets.
 */

ol,
ul {
  list-style: none;
}

/*
 * Reset anchor style.
 */

a {
  color: inherit;
  text-decoration: none;
}

/*
 * Set cursor when hovering `abbr` with title.
 */

abbr[title] {
  cursor: help;
}

/*
 * Reset italic in address element.
 */

address {
  font-style: normal;
}

/*
 * Customize `small` element's font-size.
 */

small {
  font-size: 0.75em;
}

/*
 * Reset weight and alignment of `th`.
 */

th {
  font-weight: normal;
  text-align: left;
}

/*
 * Remove fieldset border.
 */

fieldset {
  border: 0;
}

/*
 * Reset appearance from form controls.
 */

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
 * Remove clear button from text fields.
 */

input::-ms-clear {
  display: none;
}

/*
 * Remove reveal button from password fields.
 */

input[type="password"]::-ms-reveal {
  display: none;
}

/*
 * Remove number field spinners.
 */

input[type="number"] {
  -moz-appearance: textfield; /* Fix for Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

/*
 * Reset `input` type color.
 */

input[type="color"] {
}

input[type="color"]::-webkit-color-swatch-wrapper {
  all: initial;
}

input[type="color"]::-webkit-color-swatch {
  all: initial;
}

input[type="color"]::-moz-color-swatch {
  all: initial;
}

/*
 * Reset `input` type file.
 */

input[type="file"] {
}

input[type="file"]::-webkit-file-upload-button {
}

/*
 * Reset search fields.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}

/*
 * Reset `input` type range.
 */

input[type="range"] {
  vertical-align: middle;
}

input[type="range"]::-webkit-slider-runnable-track {
  all: initial;
}

input[type="range"]::-webkit-slider-thumb {
  all: initial;
}

input[type="range"]::-moz-range-thumb {
  all: initial;
}

input[type="range"]::-moz-range-track {
  all: initial;
}

input[type="range"]::-moz-range-progress {
  all: initial;
}

input[type="range"]::-ms-track {
}

input[type="range"]::-ms-thumb {
  background: none;
  border: 0;
}

/*
 * Reset progress meter.
 */

progress {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  vertical-align: middle;
}

progress::-webkit-progress-bar {
  background: none;
}

progress::-webkit-progress-value {
  background: none;
}

progress::-moz-progress-bar {
  background: none;
}

progress::-ms-fill {
  background: none;
  border: 0;
}

/*
 * Customize input placeholder.
 */

input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

/*
 * Customize focus outline.
 */

:-moz-focusring {
  outline: 1px dotted currentColor;
}

:focus {
  outline: 1px dotted currentColor;
}

/* Print
 * ========================================================================== */

@media print {
  /*
   * Use larger text.
   */

  html {
    font-size: 13.5pt;
  }

  /*
   * Avoid page-breaks inside or right after headings.
   */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-inside: avoid;
    break-after: avoid;
  }

  /*
   * 1. Prefer letter sized paper in portrait mode.
   * 2. Add some margin.
   */

  @page {
    size: letter portrait; /* 1 */
    margin: 12.5%; /* 2 */
  }
}
